@import '../../../styles/variables';

.SingleGoal {
  text-align: left;
  color: $darkGreige;
  box-shadow: 0 3px 10px 0 $greige;

  .goalUnchecked, .goalMet {
    color: $teal;
    font-size: 1.25em;
  }

  .goalCheckBox {
    height: 20px;
    width: 20px;
  }

  .goalHeader {
    color: $sedona;
  }

  p {
    font-size: 1.25em;
    margin-bottom: .5em;
  }

  .deleteGoalBtn{
    height: 1em;
    margin-left: 1em;

    &:hover{
      background-color: $sedona;
      color: $lightGreige;
    }
  }

  .editGoalBtn{
    height: 1.2em;
    margin-left: 1em;

    &:hover{
      background-color: $teal;
      color: $lightGreige;
    }

    svg {
      height: .8em;
    }
  }
}