@import '../../../styles/variables';
@import '../../../styles/themes';

.JournalForm {

  h1 {
    @include themify($themes) {
      color: themed('logoColor');
      padding: 1em;
    }
  }

  input, select, textarea {
    @include formInput;
  }

  .journalBody {
    resize: both;
    overflow: auto;
    min-height: 40vh;
  }

  .validationError {
    color: red!important;
  }

  .valid-false {
    border: 2px solid red!important;
  }

  .saveJournalBtn, .updateJournalBtn {
    @include formButton(5em);
  }
}