@import '../../../styles/variables';
@import '../../../styles/themes';

.JournalForm {

  h1 {
    color: $teal;
    padding: 1em;
  }

  input, select, textarea {
    @include formInput;
  }

  .journalBody {
    resize: both;
    overflow: auto;
    min-height: 40vh;
  }

  .validationError {
    color: red;
  }

  .valid-false {
    border: 2px solid red;
  }

  .saveJournalBtn, .updateJournalBtn {
    @include formButton(5em);
  }
}