@import '../../../styles/variables';
@import '../../../styles/themes';

.Auth {
  .googleIcon {
    max-width: 30px;
  }

  h1 {
    @include themify($themes) {
      color: themed('logoColor');
    }
  }

  p {
    @include themify($themes) {
      color: themed('darkText');
    }
    font-size: 1.25em;
  }

  .brand {
    font-family: 'Bad Script', 'Kalam', sans-serif;
  }
}