@import '../../../styles/variables';
@import '../../../styles/themes';

.Auth {
  .googleIcon {
    max-width: 30px;
  }

  h1 {
    color: $teal;
  }

  p {
    color: $darkGreige;
    font-size: 1.25em;
  }

  .brand {
    font-family: 'Bad Script', 'Kalam', sans-serif;
  }
}