@import '../../../styles/variables';
@import '../../../styles/themes';

.JournalEntry {
  @include displayCard(justify);
  padding: .5em;

  header {
    margin-top: .75rem;

    .journalTitle{
      color: $sedona;
    }

    .journalDate {
      color: $sedona;
      text-align: right;
    }
  }
  
  .editJournalBtn, .deleteJournalBtn {
    margin-right: 10px;

    svg {
      height: 1rem;
      width: 1rem;
    }
  }

  .editJournalBtn:hover {
    color: $teal;
  }

  .deleteJournalBtn:hover {
    color: $sedona;
  }

  .journalBody {
    padding: 0 1em;
    white-space: pre-wrap;
  }

  .journalGoal {
    text-align: left;
    color: $lightGreige;
  }
}