@import '../../../styles/variables';
@import '../../../styles/themes';

.JournalEntry {
  @include displayCard(justify);
  padding: .5em;

  header {
    margin-top: .75rem;

    .journalTitle{
      @include themify($themes) {
        color: themed('accentColor');
      }
    }

    .journalDate {
      @include themify($themes) {
        color: themed('accentColor');
        text-align: right;
      }
    }
  }
  
  .editJournalBtn, .deleteJournalBtn {
    margin-right: 10px;

    svg {
      height: 1rem;
      width: 1rem;
    }
  }

  .editJournalBtn:hover {
    @include themify($themes) {
      color: themed('logoColor');
    }
  }

  .deleteJournalBtn:hover {
    @include themify($themes) {
      color: themed('accentColor');
    }
  }

  .journalBody {
    padding: 0 1em;
    white-space: pre-wrap;
  }

  .journalGoal {
    @include themify($themes) {
      text-align: left;
      color: themed('mediumText');
    }
  }
}