$backgroundCream: rgb(248, 239, 227);
$transparentCream: rgba(248, 239, 227, 0.5);
$teal: rgb(20, 120, 128);
$translucentTeal: rgba(20, 121, 128, 0.404);
$sageGrey: rgb(156, 168, 168);
$lightGreige: rgb(194, 185, 183);
$greige: rgb(180, 172, 170);
$darkGreige: rgb(90, 84, 83);
$sedona: rgb(158, 79, 50);
$translucentSedona: rgba(158, 79, 50, 0.247);

// @mixin formButton($width) {
//   background-color: $lightGreige;
//     border: 1px solid $sedona;
//     color: $sedona;
//     font-size: 1.25em;
//     width: $width;

//     &:hover{
//       background-color: $sedona;
//       border: 1px solid $lightGreige;
//       color: $lightGreige;
//     }
// }

// @mixin altButton($width) {
//   background-color: $lightGreige;
//     border: 1px solid $teal;
//     color: $teal;
//     font-size: 1.25em;
//     width: $width;

//     &:hover{
//       background-color: $teal;
//       border: 1px solid $lightGreige;
//       color: $lightGreige;
//     }
// }

// @mixin outlineButton($fontSize, $width) {
//   background-color: transparent;
//     border: 1px solid $greige;
//     color: $darkGreige;
//     font-size: $fontSize;
//     width: $width;

//     &:hover{
//       background-color: $lightGreige;
//       border: 1px solid $teal;
//       color: $teal;
//     }
// }

// @mixin displayCard($alignment) {
//   text-align: $alignment;
//   background-color: $transparentCream;
//   border-radius: 7px;
//   color: $darkGreige;
//   box-shadow: 0 3px 10px 0 $greige;
// }

// @mixin formInput {
//     border: 1px solid $translucentSedona;
//     border-radius: 7px;

//     &:focus {
//       border-color: $teal;
//       box-shadow: 0 0 0 0.2rem $translucentTeal;
//       outline: none;
//     }
// }