$backgroundCream: rgb(248, 239, 227);
$teal: rgb(20, 120, 128);
$sageGrey: rgb(156, 168, 168);
$greige: rgb(180, 172, 170);
$darkGreige: rgb(90, 84, 83);
$sedona: rgb(158, 79, 50);
$translucentSedona: rgba(158, 79, 50, 0.247);
