@import '../../../styles/variables';
@import '../../../styles/themes';

.Goals{
  margin: 0 .5em;

  h1{
    @include themify($themes) {
      color: themed('logoColor');
      padding-top: 1em;
      margin: 0;
    }
  }

  .newGoalBtn{
    margin: 0 0 1em 1em;
    @include outlineButton(1rem, 7rem);
  }
}

.goalModal {
  .goalMetModal{
    @include themify($themes) {
      color: themed('darkText');

      .modal-content{
        background-color: themed('backgroundColor');
      }
    }

    h3 {
      @include themify($themes) {
        color: themed('logoColor');
      }
    }

    .anonCheckbox {
      height: 20px;
      width: 20px;
    }
  
    .btn {    
      &.shareGoalMet {
        @include altButton(4em);
      }
    
      &.dismissGoalModal {
        @include formButton(7em);
      }
    }
  }
}