@import '../../../styles/variables';
@import '../../../styles/themes';

.Feed{
  margin: 0 .5em;
  position: relative;

  h1{
    @include themify($themes) {
      color: themed('logoColor');
      padding: 1em;
    }
  }

  .feedFilter {
    @include themify($themes) {
      color: themed('darkText');
    }
    height: 2em;
    position: absolute;
    top: 50px;
    right: 30px;
    @include formInput;
  }

  @media screen and (max-width: 750px) {
    .feedFilter {
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: .75em;
    }
  }
}