@import '../../../styles/variables';

.ReasonForm {
  margin-left: 1em;

  label {
    color: $darkGreige;
    font-size: 1.25em;

    &.goalDropdownLabel {
      min-width: 15vw;
      padding-right: 5px;
      text-align: right;
    }
  }

  .annoymousCheckbox {
    height: 20px;
    width: 20px;
    margin-top: 6px;
  }

  .postReasonBtn, .updateReasonBtn {
    background-color: $lightGreige;
    border: 1px solid $sedona;
    color: $sedona;
    font-size: 1.25em;
    width: 5em;

    &:hover{
      background-color: $sedona;
      border: 1px solid $lightGreige;
      color: $lightGreige;
    }
  }
}