@import '../../../styles/variables';

.Profile{
  h1{
    color: $teal;
    padding: 1em;
  }

  label{
    color: $sedona;
    font-size: 1.25em;
  }

  .saveProfile, .updateProfile {
    @include formButton(5em);
  }
}