@import '../../../styles/variables';
@import '../../../styles/themes';

.Profile{
  input {
    @include formInput;
  }

  h1{
    @include themify($themes) {
      color: themed('logoColor');
      padding: 1em;
    }
  }

  label{
    @include themify($themes) {
      color: themed('accentColor');
      font-size: 1.25em;
    }
  }

  .validationError {
    color: red!important;
  }

  .valid-false {
    border: 2px solid red!important;
  }

  .saveProfile, .updateProfile {
    @include formButton(5em);
  }
}