@import '../../../styles/variables';

.Profile{
  h1{
    color: $teal;
    padding: 1em;
  }

  label{
    color: $sedona;
    font-size: 1.25em;
  }

  .saveProfile, .updateProfile {
    background-color: $lightGreige;
    border: 1px solid $sedona;
    color: $sedona;
    font-size: 1.25em;
    margin-top: 1em;
    width: 5em;

    &:hover{
      background-color: $sedona;
      border: 1px solid $lightGreige;
      color: $lightGreige;
    }
  }
}