@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Kalam&display=swap');


.Home {
  margin: 0 .5em;

  h1 {
    color: $teal;
    text-align: left;
  }

  h2 {
    color: $teal;

    &.reasonPrompt {
      margin: .5em 0 .5em .5em;
      text-align: left;
    }

    &.historyHeader {
      margin: 1.5em;
    }
  }

  p {
    color: $darkGreige;
    font-size: 1.5em;
  }

  .brand {
    font-family: 'Bad Script', 'Kalam', sans-serif;
  }

  .profileBtn {
    @include altButton(10em);
  }

  .profileDisplay {
    
    p {
      font-size: 1em;
      margin: .5em;
      text-align: right;
    }

    .profilePic {
      border: 1px solid $teal;
      border-radius: 999px;
      margin: .5em;
      height: 100px;
      width: 100px;
    }

    .profileImgAndEdit{
      position: relative;

      .editProfileBtn {
        background-color: $lightGreige;
        border: 1px solid $teal;
        border-radius: 999px;
        color: $teal; 
        position: absolute;
        top: 5em;
        right: 5em;
        height: 1.7em;
        width: 1.7em;
        margin-left: 1em;
  
        &:hover{
          background-color: $teal;
          border-color: $lightGreige;
          color: $lightGreige;
        }
  
        svg {
          height: 1.5em;
          vertical-align: 0;
        }
      }
    }
  }

  .historyLog {
    position: relative;

    .logFilter {
      color: $darkGreige;
      height: 2em;
      position: absolute;
      top: 10px;
      right: 30px;
    }
  }
}