@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Kalam&display=swap');


.Home {
  margin: 0 .5em;

  h1 {
    color: $teal;
    text-align: left;
  }

  h2 {
    color: $teal;

    &.reasonPrompt {
      margin: .5em 0 .5em .5em;
      text-align: left;
    }

    &.historyHeader {
      margin: 1em;
    }
  }

  p {
    color: $darkGreige;
    font-size: 1.5em;
  }

  .brand {
    font-family: 'Bad Script', 'Kalam', sans-serif;
  }

  .profileBtn {
    background-color: $greige;
    border: 2px solid $teal;
    border-radius: 10px;
    color: $teal;
    font-size: 2em;

    &:hover {
      color: $sedona;
      border: 2px solid $sedona;
    }
  }

  .profileDisplay {
    
    p {
      font-size: 1em;
      margin: .5em;
      text-align: right;
    }

    .profilePic {
      border: 1px solid $teal;
      border-radius: 999px;
      margin: .5em;
      max-height: 100px;
      max-width: 100px;
    }
  }

  form {
    margin-left: 1em;

    label {
      color: $darkGreige;
      font-size: 1.25em;

      &.goalDropdownLabel {
        min-width: 15vw;
        padding-right: 5px;
        text-align: right;
      }
    }

    .annoymousCheckbox {
      height: 20px;
      width: 20px;
      margin-top: 6px;
    }

    .postReasonBtn {
      background-color: $lightGreige;
      border: 1px solid $sedona;
      color: $sedona;
      font-size: 1.25em;
      width: 5em;
  
      &:hover{
        background-color: $sedona;
        border: 1px solid $lightGreige;
        color: $lightGreige;
      }
    }
  }
}