@import '../../../styles/variables';
@import '../../../styles/themes';

.GoalForm {

  input {
    @include formInput;
  }

  h1 {
    @include themify($themes) {
      color: themed('logoColor');
      padding: 1em;
    }
  }

  label {
    @include themify($themes) {
      color: themed('accentColor');
      font-size: 1.25em;
    }
  }

  .goalCheckBox {
    height: 20px;
    width: 20px;
  }

  .validationError {
    color: red!important;
  }

  .valid-false {
    border: 2px solid red!important;
  }

  .saveGoal, .updateGoal {
    @include formButton(5em);
  }
}