@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');

.Post{
  @include displayCard(left);


  p {
    font-size: 1.25em;

    &.postContent {
      margin-left: 3vw;
    }

    &.postContentGoalMet {
      color: black;
      font-family: 'Quicksand:600', sans-serif;
      text-align: center;
    }

    &.relatedGoal {
      color: $greige;
      margin-bottom: .5em;
    }
  
    &.likesCount {
      color: $teal;
      margin-bottom: .5em;
    }
  }

  .postHeader {
    color: $sedona;
    margin-bottom: .75em;
  } 

  .deletePostBtn{
    height: 1rem;
    margin-left: 1rem;

    &:hover{
      color: $sedona;
    }
  }

  .editPostBtn{
    height: 1rem;
    margin-left: 1rem;

    &:hover{
      color: $teal;
    }
  }

  .likeBtn {
    min-height: 1.5em!important;
    min-width: 1.5em!important;

    &.liked-true {
      color: $teal;
    }
  
    &.liked-false {
      color: $greige;
    }

    &.cheers {
      width: 2em!important;
    }
  }
}