@import '../../../styles/variables';
@import '../../../styles/themes';
@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');

.Post{
  @include displayCard(left);


  p {
    font-size: 1.25em;

    &.postContent {
      margin-left: 3vw;
    }

    &.postContentGoalMet {
      @include themify($themes) {
        color: themed('darkText');
        font-family: 'Quicksand:600', sans-serif;
        text-align: center;
      }
    }

    &.relatedGoal {
      @include themify($themes) {
        color: themed('mediumText');
        margin-bottom: .5em;
      }
    }
  
    &.likesCount {
      @include themify($themes) {
        color: themed('logoColor');
        margin-bottom: .5em;
      }
    }
  }

  .postHeader {
    @include themify($themes) {
      color: themed('accentColor');
      margin-bottom: .75em;
    }
  } 

  .deletePostBtn{
    height: 1rem;
    margin-left: 1rem;

    &:hover{
      @include themify($themes) {
        color: themed('accentColor');
      }
    }
  }

  .editPostBtn{
    height: 1rem;
    margin-left: 1rem;

    &:hover{
      @include themify($themes) {
        color: themed('logoColor');
      }
    }
  }

  .likeBtn {
    @include themify($themes) {
      min-height: 1.5em!important;
      min-width: 1.5em!important;

      &.liked-true {
        color: themed('logoColor');
      }
    
      &.liked-false {
        color: themed('mediumText');
      }

      &.cheers {
        width: 2em!important;
      }
    }
  }
}