@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');

.Post{
  text-align: left;
  color: $darkGreige;
  box-shadow: 0 3px 10px 0 $greige;


  p {
    font-size: 1.25em;

    &.postContent {
      margin-left: 3vw;
    }

    &.postContentGoalMet {
      color: black;
      font-family: 'Quicksand:600', sans-serif;
      text-align: center;
    }

    &.relatedGoal {
      color: $greige;
      margin-bottom: .5em;
    }
  
    &.likesCount {
      color: $teal;
      margin-bottom: .5em;
    }
  }

  .postHeader {
    color: $sedona;
    margin-bottom: .75em;
  } 

  .deletePostBtn{
    height: 1em;
  }
}