@import '../../../styles/variables';
@import '../../../styles/themes';

.deleteVerifyModal {
  @include themify($themes) {
    color: themed('accentColor');

    .modal-content{
      background-color: themed('backgroundColor');
    }
  }

  p {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: .25em;

    &.verifyDelete {
      @include themify($themes) {
        color: themed('darkText');
      }
    }
  }

  .deleteBtn {
    @include formButton(5em);
  }

  .dismissDelete {
    @include altButton(5em);
  }
}