@import '../../../styles/variables';

.Journal {
  margin: .5em;

  h1 {
    color: $teal;
    margin-top: 1em;
  }

  .journalNew {
    margin: 0 0 1em 1em;
    @include outlineButton(1rem, 8rem);
  }
}

.deleteJournalModal {
  background-color: $backgroundCream;
  color: $sedona;

  p {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: .25em;

    &.verifyDelete {
      color: $darkGreige;
    }
  }

  .deleteJournalBtn {
    @include formButton(5em);
  }

  .dismissDeleteJournal {
    @include altButton(5em);
  }
}