@import '../../../styles/variables';

.Journal {
  margin: .5em;

  h1 {
    color: $teal;
    margin-top: 1em;
  }

  .journalNew {
    margin: 0 0 1em 1em;
    @include outlineButton(1rem, 8rem);
  }
}