@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Kalam&display=swap');

.MyNav{
  .navbar{
    background-color: $translucentSedona!important;
    box-shadow: 0 5px 15px 0 #553d3656;
  }

  .navBrand {
    color: $teal;
    font-family: 'Bad Script', 'Kalam', sans-serif;
    font-size: 1.5em;
  }

  .logout {
    @include outlineButton(1rem, 6rem);
  }
}